@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
font-family: 'Open Sans', sans-serif;
height: 100vh;
background: url(https://source.unsplash.com/random/?landscape);
}

.card {
    background: lightgrey;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1rem;
}

.search-bar{
    display: flex;
    justify-content: center;
    
}

.input-src {
    padding: 8px;
    margin-right: auto;
    border-radius: 20px;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    background: #0000002e;
    font-size: .99rem;
    border: none;
    color: white;
}

.input-src:hover{
    background: darkgray;
    transition: .2 ease-in-out;

}

#btn{
    padding: 11px;
    margin-right: 62px;
    border-radius: 50%;
    background: #0000002e;
    cursor: pointer;
    border: none;
}

#btn:hover{
    background: darkgray;
    transition: .2 ease-in-out;

}

.weather{
    padding: 10px;
}

.city{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-transform: capitalize;
}

.temp{
    padding: 15px 0;
}

.loading{
   display: none;
}

